<div>
	<form name="newForm">
		<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">TODO name</div>
			<input ng-minlength="3" ng-maxlength="20" ng-model="todo.name" 
					name="newName" class="form-control" type="text" placeholder="Todo name">
		</div>
		<div>
			<span ng-show="newForm.newName.$error.maxlength">Name too large</span>
			<span ng-show="newForm.newName.$error.minlength">Name too short</span>
		</div>
		</div>
		<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="todo.completed">Completed
		</label>
		</div>
		<div class="text-center">
		<button ng-click="addItem(todo)" ng-disabled="!todo.name"
				class="btn btn-success">
				Add new Item
		</button>
		</div>
	</form>
	<p/>
	<div>
		<table class="table table-striped">
		<thead>
			<th>Element</th>
			<th>Date</th>
			<th>Completed</th>
			<th class="col-md-1">Action</th>
		</thead>
		<tr ng-repeat="item in todos">
			<td>{{ item.name }}</td>
			<td>{{ item.entrance | date }}</td>
			<td>{{ item.completed }}</td>
			<td class="text-center">
			<span ng-click="removeItem($index)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</td>
		</tr>
		</table>
	</div>
</div>      
